<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.player.muqindaxue">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>



    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--友盟-->
        <meta-data android:value="589d1384b27b0a3e7b004927" android:name="UMENG_APPKEY"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>//主页面
        <activity android:name=".activity.GuideActicity"/>//欢迎页面
        <activity android:name=".login.LoginActivity"/>//登录页面

        //社区
        <activity android:name=".unity.MyCirleActivity" /> //圈子
        <activity android:name=".unity.ConsultActivity"/> //咨询
        <activity android:name=".unity.ActivityActivity"/>//活动
        <activity android:name=".unity.FrendActivity"/>//好友
    </application>

</manifest>